:root{
    --blue: #5e72e4;
    --indigo: #5603ad;
    --purple: #8965e0;
    --pink: #f3a4b5;
    --red: #f5365c;
    --orange: #fb6340;
    --yellow: #ffd600;
    --green: #2dce89;
    --teal: #11cdef;
    --cyan: #2bffc6;
    --white: #fff;
    --gray: #8898aa;
    --gray-dark: #32325d;
    --light: #ced4da;
    --lighter: #e9ecef;
    /* #5e72e4 */
    --primary: #9b0000;
    --primaryDark: #7D0000;
    --primaryLight: #FF2323;
    --secondary: #f4f5f7;
    --success: #2dce89;
    --info: #11cdef;
    --warning: #fb6340;
    --danger: #f5365c;
    --light: #adb5bd;
    --dark: #212529;
    --default: #172b4d;
    --white: #fff;
    --neutral: #fff;
    --darker: black;
    --textDark: #303030;;
    --textGray: #9aa0ac;
    --backgroundColor: #f6f7fb;
    --borderColor: #dadce0;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    border-color: var(--primaryDark);
}
.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    color: #fff;
    border-color: var(--primaryDark);
    background-color: var(--primaryDark);
    box-shadow: 0 3px 2px rgba(233, 236, 239, .05);
}
.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: var(--primaryDark);
    background-color: var(--primaryDark);
    box-shadow: 0 3px 2px rgba(233, 236, 239, .05);
}