:root{
    --blue: #5e72e4;
    --indigo: #5603ad;
    --purple: #8965e0;
    --pink: #f3a4b5;
    --red: #f5365c;
    --orange: #fb6340;
    --yellow: #ffd600;
    --green: #2dce89;
    --teal: #11cdef;
    --cyan: #2bffc6;
    --white: #fff;
    --gray: #8898aa;
    --gray-dark: #32325d;
    --light: #ced4da;
    --lighter: #e9ecef;
    /* #5e72e4 */
    --primary: #9b0000;
    --primaryDark: #7D0000;
    --primaryLight: #FF2323;
    --secondary: #f4f5f7;
    --success: #2dce89;
    --info: #11cdef;
    --warning: #fb6340;
    --danger: #f5365c;
    --light: #adb5bd;
    --dark: #212529;
    --default: #172b4d;
    --white: #fff;
    --neutral: #fff;
    --darker: black;
    --textDark: #303030;;
    --textGray: #9aa0ac;
    --backgroundColor: #f6f7fb;
    --borderColor: #dadce0;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    border-color: var(--primaryDark);
}
.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    color: #fff;
    border-color: var(--primaryDark);
    background-color: var(--primaryDark);
    box-shadow: 0 3px 2px rgba(233, 236, 239, .05);
}
.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: var(--primaryDark);
    background-color: var(--primaryDark);
    box-shadow: 0 3px 2px rgba(233, 236, 239, .05);
}
.g-sidenav-hidden:not(.g-sidenav-show) .sidenav .nav-link-text {
    display: block !important;
}
.bg-primary {
    background-color: var(--primary) !important;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: var(--primary);
}
.nav-pills .nav-link {
    color: var(--primary);
}
.nav-pills .nav-link:hover {
    color: var(--primary);
}
.nav-pills .active:hover {
    color: var(--white);
}
.sidebarMenuItemActive{
    background-color: var(--backgroundColor);
}
a {
    color: var(--primary);
}
a:hover {
    color: var(--primaryDark);
}
.btn-primary {
    color: #fff;
    border-color: var(--primaryDark);
    background-color: var(--primary);
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    border-color: var(--primaryDark);
    background-color: var(--primary);
}
.btn-primary:hover {
    color: #fff;
    border-color: var(--primaryDark);
    background-color: var(--primary);
}
.btnLoad:hover {
    transform: translateY(0px);
    box-shadow: none;
}