.ConsultCard-GeneralContainer{
    padding: 15px;
}
.ConsultCard-GeneralContainer i{
    margin-right: 5px;
    color: var(--textGray);
    font-size: 10pt;
}
.ConsultCard-GeneralContainer p{
    margin: 0px;
    color: var(--textGray);
    font-size: 10pt;
    font-weight: 400;
}
.ConsultCard-GeneralContainer span{
    margin-left: 20px;
    font-weight: 400;
    font-size: 10pt;
    color: var(--textGray);
}
.ConsultCard-Id p{
    color: var(--primary);
    font-size: 15pt;
}